#header.header-scrolled {
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
  }
#header{
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #fff;
}
.header_inner{
    height: 64px;
    width: 1320px;
    margin: 15px auto 0;
}
.logo{
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}
.nav{
    float: right;
    margin-right: 157px;
    margin-top: -5px;
}
.nav> li{
    float: left;
    margin-left: 30px;
    margin-top: 18px;
    font-size: 17px;
}
.nav> li> a{
    padding: 0 30px;
    display: block;
}
.nav> li:nth-child(5){
    margin-right: -100px;
}
.nav> li> a:hover{
    color: #a1b5e6;
}
.nav> li:hover .sub{
    display: block;
}
.panel{
    padding: 24px 0;
   /* display: none;*/
    width: 100%;
    text-align: center;
    z-index: 995;
    position: absolute;
    top:80px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.7);
}
.mar{
    width: 1320px;
    margin: auto;
    
}
.mar_inner{
    width: 692px;
    float: right;
    overflow: hidden;
    margin-right: 30px; 
}
.sub{
    text-align: center;
    font-size: 15px;
    float: left;
    width: 20%;
    font-weight: 400;
    color: #555;
}
.sub5{

}
.sub1{

}
.sub2{

}
.sub3{

}
.sub4{

}
.sub li{
    margin-bottom: 10px;
}
.sub li a:hover{
    color: #6177af;
}

