@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Godo';
    src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
    font-style: normal;
    font-weight: 400;
  }
@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
  }

@font-face {
    font-family: 'BareunBatang';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('http://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');
  }

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #262626;}
body{
    font-family: 'Godo';
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #2e2e2e;
    min-width: 1320px;
}

#banner{
    padding-top: 53px;
}
#event{
    width: 1320px;
    margin: 80px auto 10px;
    height: 820px;
    position: relative;
}
.title_box{
    width: 200px;
    margin: 0 auto;
    border-bottom: 2px solid #525252;
    padding-top: 20px;
}
.title{
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 12px;
}
.title_bottom,.trip_bottom,.camera_bottom,.sns_bottom{
    text-align: center;
    font-size: 15px;
    font-family: 'IBMPlexSansKR-Light';
    color: #525252;
    margin-top: 4px;
    margin-bottom: 40px;
}
.event_box{
    width: 1212px;
    height: 624px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.polar{
    position: absolute;
    top: 80%;
}

/*이벤트 배너 제이쿼리*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner{
    width: 1160px;
    height: 500px;
    margin: auto;
    padding-top: 26px;
}
/*이벤트 배너 제이쿼리 end*/
.more a{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #a1a1a1;
    position: absolute;
    z-index: 99;
    right: 80px;
    bottom: 100px;
    color: #fff;
    font-size: 18px;
}
.more a:hover{
    background-color: #7b7b7b;
}

#trip{
    height: 764px;
    padding-top: 50px;
    background: url(../images/trip_back.png) no-repeat bottom;
}
.trip_inner{
    width: 1320px;
    margin: 20px auto;
}
.trip_box{
    width: 213px;
    margin: 0 auto;
    border-bottom: 2px solid #525252;
}
/*.trip_bottom{
    text-align: center;
    font-size: 18px;
    font-family: 'IBMPlexSansKR-Regular';
    color: #525252;
    margin-top: 10px;
    margin-bottom: 35px;
}*/
.trip_inner ul{
    margin-left: 475px;
    padding-bottom: 50px;
}
.place_inner li{
    float: left;
    margin-right: 80px;
    font-size: 16px;
}
.place_inner li a{
    transition: all 0.3s;
}
.place2 a, .place3 a, .place1 a{
    padding: 5px 20px;
    background-color: #ced7ee;
    border-radius: 20px;
    display: block;
}
.place_inner li a:hover{
    color: #fff;
    background-color: #3959a8;
}

/*탭css*/
#tab01{
    position: absolute;
}
#tab02{
    position: absolute;
}
#tab03{
    position: absolute;
}
.place_inner{
    position: relative;
}
.tabcontent{
    overflow: hidden;
}
/*탭클릭시 나오는 배경,색*/
.place_inner li a.active{
    background-color: #233c6d;
    color: #fff;
}
/*탭css*/

#about{
    height: 440px;
    background: url(../images/about_background.jpg) no-repeat center top;
    background-attachment: fixed;
}
.about_text{
    width: 425px;
    height: 200px;
    margin: 0 auto;
    padding-top: 112px;
    color: #fff;
}
.p1{
    font-size: 30px;
    margin-bottom: 40px;
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
}
.p2{
    font-size: 45px;
    margin-bottom: 30px;
}
.p2_big{
    font-size: 65px;
}
.p3{
    font-size: 35px;
    text-align: right;
    margin-bottom: 20px;
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
}
.p4{
    font-size: 15px;
    font-family: 'BareunBatang';
    font-style: normal;
    font-weight: 400;
}


#camera{
    height: 600px;
    margin-bottom: 60px;
    width: 100%;
    overflow: hidden;
   
}
.camera_box{
    width: 168px;
    margin: 0 auto;
    border-bottom: 2px solid #525252;
    margin-top: 90px;
}
/*.camera_bottom{
    text-align: center;
    font-size: 18px;
    font-family: 'IBMPlexSansKR-Regular';
    color: #525252;
    margin-top: 10px;
    margin-bottom: 35px;
}
*/
.canon{
    float: left;
    width: 50%;
    height: 650px;
    background: url(../images/camera01.png) no-repeat top right -50px;
    overflow: hidden;
    margin-top: -20px;
}
/*
.canon_img{
    width: 1000px;
    height: 291px;
    background: url(../images/camera01.png) no-repeat top left;
}*/
.sony{
    float: right;
    width: 50%;
    height: 650px;
    text-align: right;
    margin-top: -150px;
    background: url(../images/camera02.png) no-repeat bottom 100px left -60px;
    overflow: hidden;
}
/*
.sony_img{
    width: 1000px;
    height: 274px;
    background: url(../images/camera02.png) no-repeat bottom right;
}*/


#sns{
    height: 550px;
    background-color: #f0f0f0;
}
.sns_box{
    width: 177px;
    margin: 0 auto;
    border-bottom: 2px solid #525252;
    padding-top: 80px;
}
/*.sns_bottom{
    text-align: center;
    font-size: 18px;
    font-family: 'IBMPlexSansKR-Regular';
    color: #525252;
    margin-top: 10px;
    margin-bottom: 35px;
}*/
.sns_inner{
    width: 1320px;
    margin: 0 auto;
}
.sns_text{
    font-size: 28px;
    line-height: 40px;
    margin-left: 120px;
    margin-top: 50px;
    float: left;
}
.sns_text p{
    margin-bottom: 30px;
}
.sns_ibm{
    color: #3959a8;
    font-size: 42px;
    font-family: 'IBMPlexSansKR-Regular';
    font-weight: bold;
}
.sns_lotte{
    color: #3999a7;
    font-family: 'LotteMartHappy';
    font-weight: 400;
}
.sns_42px{
    font-size: 42px;
}
.sns_line{
    line-height: 40px;
    padding-bottom: 50px;
}
.sns_button{
    font-size: 16px;
    padding: 10px 15px;
    background-color: #233c6d;
    color: #fff;
    border-radius: 10px;
}
.sns_button:hover{
    background-color: #3959a8;
}
html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 60%;
      margin: 50px auto;
      float: right;
      padding: 0 20px;
      margin-right: 100px;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: #233c6d;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
  }
  
  .slick-active {
    opacity: 1;
  }

  .slick-current {
    opacity: 1;
  }
  .slider div{
      overflow: hidden;
  }
  .slider div a img:hover{
      transform: scale(1.3, 1.3);
  }
  .slider div a img{
    transition: all 1s;
  }


